* {
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    
}

header nav {
    display: flex;
    gap: 20px;
    align-items: center;
      
}

h1 {
    width: 281px;
    height: 65px;
    font-size: 48px;
    padding-left: 15px;  

}

h1 span {
    color: #7ED321;
    height: 120px;

}


header button {
    background-color: #7ED321;
    font-weight: 700;
    font-size: 16px;
    padding: 9px 32px ;
    border-radius: 15px;
    width: 151px;
    font-weight: bold;
    cursor: pointer;

}

h2{
    text-align: center;
    font-size: 48px;

}

#container {
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
   
}


button {
    background-color: #7ED321;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 45px ;
    border-radius: 10px;
    width: 141px;
    height: 42px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
   
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}

input {
    
    padding: 12px 13px;
    border-radius: 7px;
    width: 100%;
    border: 1px solid #9F9F9F;
   

}

textarea {
    resize: none;
    border: 1px solid #9F9F9F;
    padding: 12px 13px;
    width: 100%;
    height: 140px;
    border-radius: 7px ;

}

#nome, #idade, #email, #texto {
    width: 557px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    font-size:18px;
    margin-bottom: 20px;
}

#botao {
    margin-right: 0
}


label {
    width: 124px;
    height: 50px ;
    font-weight: bold;
    text-align: center;
    
}

button:hover {
    background-color: #7ED32166;
}

aside button:hover{
    background-color: #7ED321; 

}

@media screen and (max-width: 1200px) {

    header {
        flex-direction:column;
        padding-top: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    main {
        flex-direction: column;
        padding-top: 3rem;
    }

    .conteudo {
        flex-direction: column;
    }

    #imagem {
        display:none;
    }

    #nome, #idade, #email, #texto{
        align-items: initial;
        flex-direction: column;
        gap: 0;
        width: 75vw;
    }
    
    #botao {
        display:flex;
        justify-content: end;

    }

    input {
        width: 50vw;
    }

    label {
        text-align: initial;
        width: auto;
    }
}


